@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #058cdf;
  --color-primary-content: #ceecfb;
  --color-secondary: #1a8689;
  --color-secondary-content: #a3efef;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
